// Text
$font-md:500;
$font-sm:300;
$font-lg:900;

// Colors
$primaryColor:#fa983a;
$secondaryColor:#fad390;
$blackColor:#262626;
$lightColor:#f6f6f6;

// Spacing
$marginMd:15px;
$paddingLg:120px;

body{
  font-weight: $font-sm;  
}

p{
    font-weight: $font-sm;
    margin-bottom: $marginMd;
}

h1,h2,h3,h4,h5,h6{
    font-weight: $font-md;
    margin-bottom: $marginMd;
}

.title{
    font-size: 100px;
    font-weight: $font-lg;
}

.title-md{
    font-size: 60px;
     font-weight: $font-lg;
}
.title-sm{
    font-size: 35px;
}

.btn-hero{
    background-color: $primaryColor;
    color: #fff;
    padding: 16px 40px;
    text-transform: uppercase;
    border-radius: 30px;
    letter-spacing: 1px;
    &:hover{
        background-color: $secondaryColor;
        color: $blackColor;
    }
}


